<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">

<title>Login Page</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
<link
	href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap"
	rel="stylesheet">
<script src="https://kit.fontawesome.com/a81368914c.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

	<!-- error message  -->
	<div th:if="${param.error}">
		<div class="alert alert-danger">Invalid user-name or password</div>
	</div>

	<!-- logout message  -->
	<div th:if="${param.logout}">
		<div class="alert alert-danger">You have been logout.</div>
	</div>

	<img class="wave" src="img/login video.mp4">
	<div class="container">
		<div class="img">
			<img src="img/bg.svg">
		</div>
		<div class="login-content">
		
		
			<form method="post" th:action="@{/login}">
				<img src="img/avatar.svg">
				<h2 class="title">Welcome</h2>
				<div class="input-div one">
					<div class="i">
						<i class="fas fa-user"></i>
					</div>
					<div class="div">
						<input id="username" type="text" placeholder="Username"
							class="input" name="username">
					</div>
				</div>
				<div class="input-div pass">
					<div class="i">
						<i class="fas fa-lock"></i>
					</div>
					<div class="div">
						<input id="password" type="password" placeholder="Password"
							class="input" name="password">
					</div>
				</div>
				<a th:href="@{/forgot_password}">Forgot Password?</a> 
				
				<input type="submit" class="btn" value="Login">
				<div>
					<p style="display: inline;">
						Don't have an account? <a href="/" th:href="@{/register}">Register
							Here</a>
					</p>
				</div>
			</form>
		</div>
	</div>
	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>
