<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<title>Registration Page</title>
<link rel="stylesheet" href="css/style.css">
<link
	href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap"
	rel="stylesheet">
<script src="https://kit.fontawesome.com/a81368914c.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

	<!-- Success message  -->
	<div th:if="${param.success}">
		<div class="alert alert-info">You've successfully
			registered..!!!</div>
	</div>

	<!-- 	<img class="wave" src="img/login video.mp4">-->
	<div class="container">
		<div class="img">
			<img src="img/bg.svg">
		</div>



		<!-- registration form Username;Email;Password;-->
		<div class="login-content">
			<form th:action="@{/register}" method="post" th:object="${user}">
				<img src="img/avatar.svg">
				<h2 class="title">Register</h2>
				<div class="input-div one">
					<div class="i">
						<i class="fas fa-user"></i>
					</div>
					<div class="div">
						<input id="Username" type="text" placeholder="Username"
							class="input" th:field="*{Username}" required="required">
					</div>
				</div>
				<div class="input-div one">
					<div class="i">
						<i class="fas fa-user"></i>
					</div>
					<div class="div">
						<input id="email" type="email" placeholder="Email" class="input"
							th:field="*{Email}" required autofocus="autofocus">
					</div>
				</div>

				<div class="input-div pass">
					<div class="i">
						<i class="fas fa-lock"></i>
					</div>
					<div class="div">
						<input id="Password" type="password" placeholder="Password"
							class="input" th:field="*{Password}" required
							autofocus="autofocus">
					</div>
				</div>

				<div class="input-div pass">
					<div class="i">
						<i class="fas fa-lock"></i>
					</div>
					<div class="div">
						<input id="Password" type="password"
							placeholder="Confirm Password" class="input">
					</div>
				</div>

				<input type="submit" class="btn" value="Register"> <span>Already
					have an account? <a th:href="@{/login}">Login Here</a>
				</span>

				<!-- <div>
					<p style="display: inline;">
						Already have an account? <a th:href="@{/index}">Login Here</a>
					</p>
				</div> -->
			</form>
		</div>
	</div>
	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>

