<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<title>Animated Login Form</title>
<link rel="stylesheet" href="css/style.css">
<link
	href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap"
	rel="stylesheet">
<script src="https://kit.fontawesome.com/a81368914c.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

	<form action="@{/index}" method="post">

		<div class="vh-100 d-flex justify-content-center align-items-center">
			<div>
				<div class="mb-4 text-center">
					<!-- <svg xmlns="http://www.w3.org/2000/svg" class="text-success" width="75" height="75"
                        fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                    </svg> -->
				</div>
				<div class="text-center">
					<h1>Thank You !</h1>
					<p>You have successfully login....!!!</p>
					<button class="btn btn-primary">Back Home</button>
				</div>
			</div>
		</div>
	</form>
</body>
</html>
